body {
	background-color: #F0FBF5; /* Цвет фона веб-страницы */
}

.parent {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

.block {
	background: #F0FBF5;
}

img {
	display: block;
	border: none;
}