* {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	background: #e1e1e1;
}

input {
	width: 336px;
	border: 0;
	border-radius: 3px;
	background: #f0f0f0;
	padding: 20px;
	margin-bottom: 15px;
	color: #bcbcbc;
}

.btn {
	width: 336px;
	background: #41cadc url(../img/login_ico.png) center center no-repeat;
	cursor: pointer;
}

.btn:hover {
	background-color: #39b3c3;
}

.login-block {
	position: absolute;
	display: inline-block;
	width: 336px;
	height: auto;
	top: 50%;
	margin-top: -270px;
	left: 50%;
	margin-left: -210px;
	background: #fff;
	border-radius: 3px;
	padding: 42px;
}

.logo {
	text-align: center;
	margin-bottom: 42px;
}