@CHARSET "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 50px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #f8f8f8;
}

.text-muted {
	margin: 15px 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 100%;
}

.alert {
	display: none;
}

.affix {
	top: 0px;
	width: 100%;
}

a {
	font-family: fantasy;
	font-size: 20px;
}

#btn-action {
	width: 100%;
	height: 100%;
}
