.parent {
	margin: 1%; /* Отступы вокруг элемента */
	background: #F8F8F8; /* Цвет фона */
	padding: 10px; /* Поля вокруг текста */
	white-space: nowrap;
	overflow: auto;
}

#table {
	width: 100%;
	border: 0px;
	border-spacing: 0px, 0px;
}

div.container {
	width: 90%;
}

div.dt-buttons {
    float: left;
    margin-left:10px;
}