<%@ include file="/WEB-INF/jspf/directive/page.jspf"%>
<%@ include file="/WEB-INF/jspf/directive/taglib.jspf"%>
<%@ include file="/WEB-INF/jspf/directive/locale.jspf"%>


<nav class="navbar navbar-inverse" data-offset-top="268">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="active">
					<a href="index.jsp"><fmt:message key="title.catalog" /></a>
			</li>
			
		<c:if test="${role eq 'reader'}">
			<li>
				<a href="listOrders">
					<fmt:message key="title.list.orders" />
				</a>
			</li>
		</c:if>	
		
		<c:if test="${role eq 'admin' or role eq 'librarian'}">
			<li role="presentation" class="dropdown"><a
					class="dropdown-toggle" data-toggle="dropdown" href="#"
					role="button" aria-haspopup="true" aria-expanded="false"> 
					<fmt:message key="title.list.orders" /> <span class="caret"></span>
				</a>
						<ul class="dropdown-menu">
					<c:if test="${role eq 'librarian'}">
							<li><a href="listOrdersActivation"><fmt:message key="title.order.activation" /></a></li>
					</c:if>
					
							<li>
								<a href="listAllOrders">
									<fmt:message key="title.list.orders" />
								</a>
							</li>		
						</ul>
			</li>	
			<c:if test="${role eq 'admin'}">
				<li><a href="listUsers"><fmt:message key="title.list.users" /></a></li>
				<li><a href="listExemplars"><fmt:message key="title.list.exemlars" /></a></li>
			</c:if>
		</c:if>
		

		</ul>
		<%@ include file="/WEB-INF/jspf/menu/right_menu.jspf"%>
	</div>
</nav>